*{
    margin: 0;
    padding: 0;
}
header {
    height: 8vh;
    
    background-color: #3a86ff;
    padding: 10px;
    
}

nav{
    height: 8vh;
    
}
 nav .head a{
    text-decoration: none;
    color:white;
    display: block;
    float: left;
    padding-right: 200px;
    padding-top: 20px;
    font-size: 20px;
    
    
}
.project ul{
    display: none;
}
.project:hover ul{
    display: block;
}
 .project  li  {
    height: 40px;
    width: 100px;
    list-style-type: none;
    padding: 10px;
    color: white;
    
}
main{
    height: 84vh;
    background-image: url("images/image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    text-align: center;
    
    
}
.main{
    text-align: center;
    padding-top: 36vh;
    line-height: 30px;
}
.main h2 {
    text-transform: capitalize;
    color: azure;
    font-size: 30px;
    margin-bottom: 5px;
}
.main button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    color: #2a9d8f;
    border: 1px solid blue;
    font-size: 14px;
    margin-right: 15px;
}
.main button:hover{
    background-color: #3a86ff;
    color: aliceblue;
}

footer{
    height: 5vh;
    background-color: #168aad;
}
footer>p{
    color: white;
    text-align: center;
    padding-top: 10px;
}

